html,body{
	position: relative;
	margin: 0px;
	padding: 0px;                /*for full screen body*/
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	background-color: #ECEBEB;
	
}

body{
	min-height: 100%;
}

.bookFrame{
	position: absolute;
	top: 50%;
	left: 50%;
	height:45%;
	width: 30%;
	margin: 0;
	text-align: center; // /*for logIn and new BooX user text center*/
	font-size: 10px;
	border-style: solid;	
	border-color: white;
	border-width: 10px;
	border-radius: 0px 50px 50px 0px;
	padding-bottom: 5px;
	max-width: 300px;
	transform: translate(-50%, -50%);
}

.bookFrame--logIn{
	width: 13%;
	min-width: 300px;
}

.bookFrame-recover{
	position: absolute;
	top: 50%;
	left: 50%;
	height:auto;
	width: 30%;
	margin: 0;
	text-align: center; // /*for logIn and new BooX user text center*/
	font-size: 10px;
	border-style: solid;	
	border-color: white;
	border-width: 10px;
	border-radius: 0px 50px 50px 0px;
	padding-bottom: 5px;
	max-width: 300px;
	transform: translate(-50%, -50%);
}

.bookFrame--Sign2{	
	width: 20%;
	height: 80%;
	min-width: 300px;
}


.bookFrame--signIn{
	height:85%;
	width: 20%;
	min-width: 300px;
}

.bookFrame__inputText{
	position: relative;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 5px;
	text-align: center;
	border-width: 0px;
	font-family: URW Gothic L;
	font-size: 120%;
	width:70%;
	color: gray;
}


.bookFrame__submitButton{
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 5px;
	font-family: URW Gothic L;
	font-size: 120%;
	background: white;
	color: gray;
	border-width: 0px;
	width: 70%;
}

.bookFrame__submitButton_continue{
	margin-top: 15%;
}

.bookFrame__submitButton_sign2{
	margin-top: 0px;
	width: 35%;
}

.removeUnderline{
	text-decoration: none;
	color: gray;
}

.bookFrame__submitButton--image{
	margin-top:0;
	margin: 10px;
}

.frameTitle{
	font-size: 55px;
	font-family: Lobster;
	font-style: italic;
	color: white;
	margin-top: 25%; 
}

.frameTitle--recover{
	margin:0;
	margin-bottom: 20%;
	
	min-height: 150px;
}


.frameTitle--signIn{
	margin-top:7%;
	margin-bottom: 17%; 
}

.frameTitle--signIn2{
	margin-top:14%;
	margin-bottom: 20%; 
}


.bookFrame__newUser{
	font-family: URW Gothic L;
	color: white;
	font-size: 110%;
}

.bookFrame__newUser--signIn{
	font-size: 90%;
}

.footerSeparator{
	display: block;

	margin-left: auto;				/*Horizontal Centering the footer separator*/
	margin-right: auto;

	position: relative;				/*Positioning*/
	top:96%;

	border-top: 3px solid white;	/*Footer style*/
	width:85%;

	color: white;					/*Text proprieties*/
	font-size: 20px;
	font-family: Arial;	
	margin-bottom: 0;
}

.footerSeparator--form{
	margin-top: 18px; 
	margin-bottom: 18px;
	border-width: 5px;
	width: 93%;
}

.footerSeparator--search{
	top: 1%;
	color: #6B0848;
	border-top: 3px solid #6B0848;	
}

.footerSeparator--userProfile{
	top:15%;
	color: #6B0848;
	border-top: 3px solid #6B0848;				
}

.footerSeparatorLendBook{
	position: relative;
	width:85%;
	border-top: 3px solid #6B0848;
	top:90%;
	font-size: 20px;
	font-family: Arial;	
	color: #6B0848;
	left:50%;
	margin-left: -42.5%;
}

.footerSeparator__ul{				
	text-align: center;
	margin-bottom: 0px;
	margin-top:5px;
}
.footerSeparator__ul__li{
	display: inline;
}

.quotes{
	position: absolute;
	color: white;
	font-family: Lobster;
	font-size: 300%;
	left:10%;
	top:22%;
}
.footerSeparator__ul__li__a{
	text-decoration: none;
	color: red;
	margin: 5px;
}
.footerSeparator__ul__li__a:hover{
	text-decoration: underline;
}

/* SignIn styles */

.signInFrame__SignIntext{
	position: absolute;
	top:90%;
	margin-bottom: 50%;
}
.dropdown{
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 5px;
	text-align: center;
	border-width: 0px;
	font-family: URW Gothic L;
	font-size: 120%;
	width:22.5%;
	color: gray;
}

.dropdown--resize{
	width: 30%;
}

.radioButton{
	font-family: URW Gothic L;
	font-size: 120%;
	color:gray;
	margin-bottom: 10px; 
}

.termsOfUsecheckBox{
	position: relative;
	font-family: URW Gothic L;
	color: white;
	font-size: 120%;
	margin-top: 7%;
	margin-bottom: 10%;
}

.bookFrame__inputText__hideFile {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.headerNavigator{
	position: relative;
	background-color:#6B0848;
	width: 100%;
	height: 45px;
}

.headerNavigator__ul{
	padding:0px;
	margin:0px;
	list-style: none;
}
.headerNavigator__ul__li{
	display: block;
	float:left;
}

.headerNavigator__ul__logOut{
	float: right;
	margin-right: 55px;
	display: block;
	margin-left: 0;
}

.headerNavigator__ul__home{
	position: relative;
	left: 50px;

	margin-left: 20px;
}

.headerNavigator__ul__li__a{
	display: block;
	margin-top: 10px;
	margin-left: 40px;
	text-decoration: none;
	text-align: center;
	font-family: URW Gothic L;
	font-size: 130%;
	color:black;
	width:90%;
	border-radius: 5px;
	background: white;
}
.headerNavigator__ul__li__a--home{
	margin-left: 0;
	width: 130%;
}

.headerNavigator__searchForm{
	margin-top: 11px;
	margin-left: 50px;
	float: left;
}

.headerNavigator__searchForm__button{
	border-radius: 5px;
	color: black;
	background-color:white;
	font-size: 100%;
}

.topFrame__cover{
	position: relative;
	display: block;
	width: 900px;
	height: 317px;
	display: table;
	margin: 0 auto;
	border-color: #1d2129;
	border-width: 1px;
	border-style: solid;
}

.topFrame__cover--noBorder{
	border-style: none;;
}

.topFrame__cover__wallpaper{
	display: block;
	position: absolute; 
}

.topFrame__cover__profilePicture{
	display: block;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	position: absolute;
	border-color: #6B0848;
	border-width: 3px;
	border-style: solid;
	left:20px;
	top: 20px;
}

.topFrame__wallpaper__editProfile{
	display: block;
	position: absolute;
	border-radius: 5px;
	border-width: 4px;
	border-color: #6B0848;
	border-style: solid;
	font-family: URW Gothic L;
	font-size: 140%;
	right: 50px;
	bottom: 20px;
	background: white;
	text-decoration: none;
	text-align: center;
	color:black;
	width:130px;
}

.aboutUser{
	width: 900px;
	height:400px;
	display: table;
	margin: 0 auto;
	position: relative;
	display: block;
}

.aboutUser__tab{
	display: inline-block;
	position: absolute;
	width:49%;
	height: 100%;
	border-color: #A40A3C;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px;
	top:5px;
	background-color: white;
	margin-top: 7px;

}

.aboutUser__tab--LendBook{
	position: absolute;
	height: 40%;
	width: 30%;
	border-color: #A40A3C;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px;
	background-color: white;
	left:50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2%;
	min-width: 150px;
	min-height: 200px;
	max-width: 300px;


}


.aboutUser__tab__personalInfoPreferences{
	left:0px;
}

.aboutUser__tab__favoriteQuote{
	right:0px;
}

.aboutUser__tab__favoriteQuote__p{
	position: relative;
	font-family: Lobster;
	font-size: 40px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	top: 25%;
	bottom: 25%;
}

.aboutUser__tab__personalInfoPreferences__ul{
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	background-color:#6B0848;
	width: auto;
	height:35px;
	padding:0px;
	margin:0px;
	list-style: none;
}

.aboutUser__personalInfoPreferences__ul__li{
	float: left;
}

.aboutUser__personalInfoPreferences__ul__li__a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 130%;
	font-family: URW Gothic L;
	color: black;
	background: white;
	border-radius: 5px;	
	margin-left: 40px;
	margin-top: 4px;
	width:90%;
}

.aboutUser_ul{
	list-style: none;
	margin-top: 30px;
	padding-left: 20px;
}

.aboutUser_ul_li{
	font-size: 130%;
	margin-top: 20px;

}

.signInContainer{
	position: relative;
	width: 100%;
	height: 15%;
	
}

.request{
	position: relative;
	color: white;
	display: block;
	font-size: 150%;
	text-align: left;
	left: 10%;
	margin-bottom: 5px;
	
}


.respons{
	position: relative;
	width: 80%;
	height: 60%;
	border-radius: 5px;
	

}

.request--editProfile{			
	color: black;
	font-size:40px;
	margin-right: 0px;
}


.genderBlock{
	display: inline-block;
}

/** */
.uni--relative .grade {
  position: relative;
  bottom: 25px;
}

.uni--absolute .container {
  position: relative;  
}
.uni--absolute .nickname {
  position: absolute;
  left: 85%;
  bottom: 0;
}

.container {
	position: relative;
    border: 2px solid;
    padding: 10px;
    margin: 15px 0;
    height: 170px;
    border-color: #A40A3C;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.container--popup{
	height: 90%;
	width: 80%;
	margin: auto;
	top: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;


}

.coverBlockImage{
	position: absolute;
	left: 3%;
	top: 12%;
	display: block;
	width: 11.7%;
	height: 76%;
	border-width: 2px;
	border-style: solid;
}


.coverBlockImage img{
	width: 100%;
	height: 100%;
	
}

.coverBlockImage--popup{
	position: relative;
	display: table;
	width: 90px;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	border-width: 0px;
	
}

.title{
	position: relative;
	top: 0;
	margin-top: 0;
	font-family: 'Annie Use Your Telescope';
	font-size: 35px;

}

.title--popup{
	margin-bottom: 0px;
	font-size: 20px;
}

.nickname{
	font-family: 'Acme';
	font-size: 20px;
}

.descriptionBook{
	position: absolute;
	width: 60%;
	height: 60%;
	top: 30%;
	left: 21%;
	
}

.descriptionBook h1{
	position: relative;
	margin: 0;
	text-align: left;
	left: 10px;
}

.descriptionBook p{
	position: relative;
	text-align: left;
	height: 50px;
	margin: 0;
	padding: 10px;

}

.container button {
 	position: absolute;
  	top: 30%;
  	left: 85%;
  	width: 10%;
 	height: 25%;
 	padding: 15px 25px;
 	font-size: 12px;
  	text-align: center;
  	cursor: pointer;
  	outline: none; /*eliminate border when is selected*/
 	color: #fff;
 	background-color: #A40A3C;
 	border: none;
  	border-radius: 15px;
 	box-shadow: 0 9px #400;
  	left: 85%;
}

.container button:hover {background-color: #A40A1A}

.container button:active {
  background-color: #A40A1A;
  box-shadow: 0 5px #200;
  transform: translateY(4px);
}

.request--LendBook{
	color:black;
}


.respons--lendBook{
	margin-bottom: 4%;
	height: 10%;
	width: 80%;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	
	text-align: center;
}

.genderBlock{
	display: inline-block;
}
.bookFrame__submitButton--YourBooXAddBook{
	position: absolute;
	left:50%;
	bottom: 5%;
	transform: translateX(-50%);
	border-color: #A40A3C;
	border-style: solid;
	border-width: 2px;
	width: auto;
	margin-top: 10px;
}

.blackTextAnchor{
	color:black;
}

/*test*/

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 800px; 
    height: 35%;
	padding-bottom: 10px;

	display: table;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.popupButton{
	position: relative;
	top: 0;
  	left: 0;
 	border-radius: 10px;
 	outline: none;
 	color: #fff;
 	background-color: #A40A3C;
}

#test{
	position: absolute;
	bottom:7px;
	left: 42%;
	height: 30px;
	margin-left: auto;
	outline: none;
	background-color: #A40A3C;
	border-radius: 10px;
	color: #fff;
}

.coverText{
  
  transform: perspective( 600px ) rotateY( 45deg );
}

.respons--editProfile{
	display: block;
	margin-top: 10px;
	width:300px;
	margin: 0px;
	margin-bottom: 10px;
}

.aboutUser__tab--LendBook--EditProfile{
	left:50%;
	margin-left: -200px;
	width:20%;
}